body{
    cursor:hand;
}

img {
    max-width: 100%;
}

.content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.wrap {
    display: inline-flex;
    width: 85%;
    margin-top: 3%;
}

.description {
    display: flex;
    flex-flow: column;
}

.meet {
    width: 80%;
    margin-bottom: 10%;
}

.meet-description {
    width: 100%;
}

.unicorn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.arrow {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 3%;
}

@keyframes moveArrow {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}

.arrow img {
    animation: moveArrow 1s ease-in-out infinite;
}