
img {
    max-width: 100%;
}

.call-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.call {
    width: 40%;
}

.content {
    display: inline-flex;
    width: 100%;
    align-items: center;
}

.wrap {
    display: inherit;
    width: 85%;
    margin: 5% auto 0;

}

.products {
    max-width: 70%;
}

.qr-code {
    display: flex;
    align-items: center;
    justify-items: center;
}

.qr-code img {
    width: 60%;
    margin-left: 10%;
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 3%;
}

.button-wrapper img {
    width: 20%;
}
