<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <title>Conheça a Ciclic</title>
        <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"> -->
        <link rel="manifest" href="/manifest.json">
        <link rel="stylesheet" href="static/global.css">
        <link rel="stylesheet" href="/static/about_styles.css">
        <script src="/static/idle_redirect.js"></script>
        <script>
            function goto(){
                location.href = "/protecoes"
            }
         </script>
    </head>
    <body class="enterPage"  onclick="goto();">
        <div class="logo">
            <img src="/static/images/logo.png" alt="Logo Ciclic">
        </div>
        <div class="content">
            <div class="wrap">
                <div class="description">
                    <img class="meet" src="static\images\2\texto_superior.png" alt="Clique para garantir seu brinde ou desconto">
                    <img class="meet-description" src="static\images\2\texto_inferior.png" alt="Clique para garantir seu brinde ou desconto">
                </div>
                <div class="unicorn-container">
                    <img class="unicorn" src="static\images\2\unicornio.png" alt="Brindes">
                </div>
            </div>
        </div>
        <div class="arrow">
            <img src="static\images\2\seta.png" alt="seta">
        </div>
    </body>
</html>