<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>Produtos</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/products_styles.css">
    <script src="/static/js/idle_redirect.js"></script>

    <script>
        function goto(){
            location.href = "/cadastro"
        }
     </script>
</head>
<body onclick="goto()">
    <div class="logo">
        <img src="/static/images/logo.png" alt="Logo Ciclic">
    </div>
    <div class="call-wrapper" >
        <img class="call" src="/static/images/3/conheca_texto.png" alt="">
    </div>
    <div class="content">
        <div class="wrap">
            <div class="products">
                <table>
                    <tbody>
                        <tr>
                            <td><img src="/static/images/3/seguro_viagem.png" alt="Seguro viagem"></td>
                            <td><img src="/static/images/3/seguro_celular.png" alt="Seguro celular"></td>
                            <td><img src="/static/images/3/saude_protegida.png" alt="Saude protegida"></td>
                        </tr>
                        <tr>
                            <td><img src="/static/images/3/seguro_residencial.png" alt="Seguro residencial"></td>
                            <td><img src="/static/images/3/seguro_bike.png" alt="Seguro bike"></td>
                            <td><img src="/static/images/3/emprestimo.png" alt="Empréstimo"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="qr-code">
                <img src="/static/images/3/qr_code.png" alt="">
            </div>
        </div>
    </div>

    <div class="button-wrapper">
        <img src="/static/images/3/garantir_meu_brinde.png" alt="Garantir meu brinde">
    </div>
</body>
</html>