<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>Obrigado!</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/thanks_styles.css">
    <script>
        function goto(){
            location.href = "/"
        }
     </script>
</head>
<body onclick="goto();">
    <div class="logo">
        <img src="/static/images/logo.png" alt="Logo Ciclic">
    </div>
    <h1>Obrigado por jogar!</h1>
    <p>Esperamos que aproveite seu presente!</p>
</body>
</html>