<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>Produtos</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="static/global.css">
    <link rel="stylesheet" href="/static/admin_styles.css">
    <script src="/static/idle_redirect.js"></script>
</head>
<body>
    <h1>Gerenciar máquina</h1>

    <form action="" method="post">
        <button type="submit" name="submit_button" value="copy">Copiar dados</button>
        {% if devices %}
        <p>{{devices}}</p>
        {% endif %}
        <button type="submit" name="submit_button" value="start">Liberar jogo</button>
    </form>
    <a href="/foradeservico">Fora de serviço</a>
    <p>Copiar dados</p>
    <p>.csv</p>
    <p>.txt</p>

    <a href="/">Voltar</a>
</body>
</html>