<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>Fora de uso</title>
    <link rel="stylesheet" href="/static/global.css">
    <link rel="stylesheet" href="/static/register_styles.css">
</head>
<body>
    <div class="logo">
        <img src="/static/images/logo.png" alt="Logo Ciclic">
    </div>
    <div>
        <h1>Máquina fora de uso</h1>
        <p>Em breve, você poderá jogar e garantir o seu brinde ou desconto.</p>
    </div>
</body>
</html>